.ReplyEditor {
  max-width: 54rem;
  margin-bottom: 0.5rem;
}

.ReplyEditor form {
  max-width: 52rem;
}

.ReplyEditor .Preview .Markdown {
  border: 1px solid $light-gray;
  padding: 0 1rem;
}

.ReplyEditor__body {
  margin-top: 1rem;
}
